.input{
    height: 25px;
    width: 250px;
   
}

.content{
    padding-left: 5%;
}
table, th, td {
    border: 1px solid black;
    color: black;
    border-collapse:collapse;
    text-align: center;
    margin: auto;
    height: 30px;
    width: 1000px;
}

.hideborder{
    border:none;
    height: auto;
    width:max-content;
  

}

button{

    height: 30px;
    width: max-content;
    border-radius: 12px;
    border: 1px solid skyblue;
    cursor: pointer;
}


